.myPic{
    float: left;
    border: gainsboro;
    border-radius: 50%;
    
}

*{box-sizing: border-box}

.container{
    width: 50%;
    background-color: #ddd;
}

.skills{
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.Python{width: 90%; background-color: #4CAF50;}

.Cpp{width: 80%; background-color: blue;}

.Csharp{width: 75%; background-color: blueviolet;}